/*
 * Flip API
 * Description
 *
 * OpenAPI spec version: 2.0.1
 * Contact: cloudsupport@telestream.net
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package net.telestream.cloud.flip;

import net.telestream.cloud.flip.ApiCallback;
import net.telestream.cloud.flip.ApiClient;
import net.telestream.cloud.flip.ApiException;
import net.telestream.cloud.flip.ApiResponse;
import net.telestream.cloud.flip.Configuration;
import net.telestream.cloud.flip.Pair;
import net.telestream.cloud.flip.ProgressRequestBody;
import net.telestream.cloud.flip.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import net.telestream.cloud.flip.CanceledResponse;
import net.telestream.cloud.flip.CloudNotificationSettings;
import net.telestream.cloud.flip.CopyProfileBody;
import net.telestream.cloud.flip.CountResponse;
import net.telestream.cloud.flip.CreateEncodingBody;
import net.telestream.cloud.flip.CreateVideoBody;
import net.telestream.cloud.flip.DeletedResponse;
import net.telestream.cloud.flip.Encoding;
import net.telestream.cloud.flip.EncodingSignedUrl;
import net.telestream.cloud.flip.EncodingSignedUrls;
import net.telestream.cloud.flip.Error;
import net.telestream.cloud.flip.Factory;
import net.telestream.cloud.flip.FactoryBody;
import net.telestream.cloud.flip.FactorySync;
import net.telestream.cloud.flip.FactorySyncBody;
import java.io.File;
import net.telestream.cloud.flip.PaginatedEncodingsCollection;
import net.telestream.cloud.flip.PaginatedFactoryCollection;
import net.telestream.cloud.flip.PaginatedProfilesCollection;
import net.telestream.cloud.flip.PaginatedVideoCollection;
import net.telestream.cloud.flip.PaginatedWorkflowsCollection;
import net.telestream.cloud.flip.Profile;
import net.telestream.cloud.flip.ProfileBody;
import net.telestream.cloud.flip.ResubmitVideoBody;
import net.telestream.cloud.flip.RetriedResponse;
import net.telestream.cloud.flip.SignedVideoUrl;
import net.telestream.cloud.flip.UpdateEncodingBody;
import net.telestream.cloud.flip.UploadSession;
import net.telestream.cloud.flip.Video;
import net.telestream.cloud.flip.VideoMetadata;
import net.telestream.cloud.flip.VideoUploadBody;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class FlipApi {
    private ApiClient apiClient;

    public FlipApi() {
        this(Configuration.getDefaultApiClient());
    }

    public FlipApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for cancelEncoding
     * @param id Id of an Encoding. (required)
     * @param factoryId Id of a Factory. (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call cancelEncodingCall(String id, String factoryId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/encodings/{id}/cancel.json"
            .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(id.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (factoryId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("factory_id", factoryId));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "api_key" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call cancelEncodingValidateBeforeCall(String id, String factoryId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'id' is set
        if (id == null) {
            throw new ApiException("Missing the required parameter 'id' when calling cancelEncoding(Async)");
        }
        
        // verify the required parameter 'factoryId' is set
        if (factoryId == null) {
            throw new ApiException("Missing the required parameter 'factoryId' when calling cancelEncoding(Async)");
        }
        

        com.squareup.okhttp.Call call = cancelEncodingCall(id, factoryId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Cancels an Encoding.
     * 
     * @param id Id of an Encoding. (required)
     * @param factoryId Id of a Factory. (required)
     * @return CanceledResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public CanceledResponse cancelEncoding(String id, String factoryId) throws ApiException {
        ApiResponse<CanceledResponse> resp = cancelEncodingWithHttpInfo(id, factoryId);
        return resp.getData();
    }

    /**
     * Cancels an Encoding.
     * 
     * @param id Id of an Encoding. (required)
     * @param factoryId Id of a Factory. (required)
     * @return ApiResponse&lt;CanceledResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<CanceledResponse> cancelEncodingWithHttpInfo(String id, String factoryId) throws ApiException {
        com.squareup.okhttp.Call call = cancelEncodingValidateBeforeCall(id, factoryId, null, null);
        Type localVarReturnType = new TypeToken<CanceledResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Cancels an Encoding. (asynchronously)
     * 
     * @param id Id of an Encoding. (required)
     * @param factoryId Id of a Factory. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call cancelEncodingAsync(String id, String factoryId, final ApiCallback<CanceledResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = cancelEncodingValidateBeforeCall(id, factoryId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<CanceledResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for copyProfile
     * @param id Id of a Profile. (required)
     * @param factoryId Id of a Factory. (required)
     * @param copyProfileBody  (required)
     * @param expand If expand option is set Profile objects will contain all command parameters, even if their value is default. By default this is not set. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call copyProfileCall(String id, String factoryId, CopyProfileBody copyProfileBody, Boolean expand, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = copyProfileBody;

        // create path and map variables
        String localVarPath = "/profiles/{id}/copy.json"
            .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(id.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (factoryId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("factory_id", factoryId));
        if (expand != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("expand", expand));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "api_key" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call copyProfileValidateBeforeCall(String id, String factoryId, CopyProfileBody copyProfileBody, Boolean expand, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'id' is set
        if (id == null) {
            throw new ApiException("Missing the required parameter 'id' when calling copyProfile(Async)");
        }
        
        // verify the required parameter 'factoryId' is set
        if (factoryId == null) {
            throw new ApiException("Missing the required parameter 'factoryId' when calling copyProfile(Async)");
        }
        
        // verify the required parameter 'copyProfileBody' is set
        if (copyProfileBody == null) {
            throw new ApiException("Missing the required parameter 'copyProfileBody' when calling copyProfile(Async)");
        }
        

        com.squareup.okhttp.Call call = copyProfileCall(id, factoryId, copyProfileBody, expand, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Copies a given Profile
     * 
     * @param id Id of a Profile. (required)
     * @param factoryId Id of a Factory. (required)
     * @param copyProfileBody  (required)
     * @param expand If expand option is set Profile objects will contain all command parameters, even if their value is default. By default this is not set. (optional)
     * @return Profile
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public Profile copyProfile(String id, String factoryId, CopyProfileBody copyProfileBody, Boolean expand) throws ApiException {
        ApiResponse<Profile> resp = copyProfileWithHttpInfo(id, factoryId, copyProfileBody, expand);
        return resp.getData();
    }

    /**
     * Copies a given Profile
     * 
     * @param id Id of a Profile. (required)
     * @param factoryId Id of a Factory. (required)
     * @param copyProfileBody  (required)
     * @param expand If expand option is set Profile objects will contain all command parameters, even if their value is default. By default this is not set. (optional)
     * @return ApiResponse&lt;Profile&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Profile> copyProfileWithHttpInfo(String id, String factoryId, CopyProfileBody copyProfileBody, Boolean expand) throws ApiException {
        com.squareup.okhttp.Call call = copyProfileValidateBeforeCall(id, factoryId, copyProfileBody, expand, null, null);
        Type localVarReturnType = new TypeToken<Profile>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Copies a given Profile (asynchronously)
     * 
     * @param id Id of a Profile. (required)
     * @param factoryId Id of a Factory. (required)
     * @param copyProfileBody  (required)
     * @param expand If expand option is set Profile objects will contain all command parameters, even if their value is default. By default this is not set. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call copyProfileAsync(String id, String factoryId, CopyProfileBody copyProfileBody, Boolean expand, final ApiCallback<Profile> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = copyProfileValidateBeforeCall(id, factoryId, copyProfileBody, expand, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<Profile>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createEncoding
     * @param factoryId Id of a Factory. (required)
     * @param createEncodingBody  (required)
     * @param screenshots Determines whether the response will include screenshots. By default this is not set. (optional)
     * @param preciseStatus Determines whether the response will include a precise status. By default this is not set. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createEncodingCall(String factoryId, CreateEncodingBody createEncodingBody, Boolean screenshots, Boolean preciseStatus, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = createEncodingBody;

        // create path and map variables
        String localVarPath = "/encodings.json";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (factoryId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("factory_id", factoryId));
        if (screenshots != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("screenshots", screenshots));
        if (preciseStatus != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("precise_status", preciseStatus));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "api_key" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createEncodingValidateBeforeCall(String factoryId, CreateEncodingBody createEncodingBody, Boolean screenshots, Boolean preciseStatus, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'factoryId' is set
        if (factoryId == null) {
            throw new ApiException("Missing the required parameter 'factoryId' when calling createEncoding(Async)");
        }
        
        // verify the required parameter 'createEncodingBody' is set
        if (createEncodingBody == null) {
            throw new ApiException("Missing the required parameter 'createEncodingBody' when calling createEncoding(Async)");
        }
        

        com.squareup.okhttp.Call call = createEncodingCall(factoryId, createEncodingBody, screenshots, preciseStatus, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Creates an Encoding
     * 
     * @param factoryId Id of a Factory. (required)
     * @param createEncodingBody  (required)
     * @param screenshots Determines whether the response will include screenshots. By default this is not set. (optional)
     * @param preciseStatus Determines whether the response will include a precise status. By default this is not set. (optional)
     * @return Encoding
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public Encoding createEncoding(String factoryId, CreateEncodingBody createEncodingBody, Boolean screenshots, Boolean preciseStatus) throws ApiException {
        ApiResponse<Encoding> resp = createEncodingWithHttpInfo(factoryId, createEncodingBody, screenshots, preciseStatus);
        return resp.getData();
    }

    /**
     * Creates an Encoding
     * 
     * @param factoryId Id of a Factory. (required)
     * @param createEncodingBody  (required)
     * @param screenshots Determines whether the response will include screenshots. By default this is not set. (optional)
     * @param preciseStatus Determines whether the response will include a precise status. By default this is not set. (optional)
     * @return ApiResponse&lt;Encoding&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Encoding> createEncodingWithHttpInfo(String factoryId, CreateEncodingBody createEncodingBody, Boolean screenshots, Boolean preciseStatus) throws ApiException {
        com.squareup.okhttp.Call call = createEncodingValidateBeforeCall(factoryId, createEncodingBody, screenshots, preciseStatus, null, null);
        Type localVarReturnType = new TypeToken<Encoding>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Creates an Encoding (asynchronously)
     * 
     * @param factoryId Id of a Factory. (required)
     * @param createEncodingBody  (required)
     * @param screenshots Determines whether the response will include screenshots. By default this is not set. (optional)
     * @param preciseStatus Determines whether the response will include a precise status. By default this is not set. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createEncodingAsync(String factoryId, CreateEncodingBody createEncodingBody, Boolean screenshots, Boolean preciseStatus, final ApiCallback<Encoding> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createEncodingValidateBeforeCall(factoryId, createEncodingBody, screenshots, preciseStatus, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<Encoding>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createFactory
     * @param createFactoryBody  (required)
     * @param withStorageProvider if set to &#x60;true&#x60;, results will include a storage provider&#39;s id (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createFactoryCall(FactoryBody createFactoryBody, Boolean withStorageProvider, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = createFactoryBody;

        // create path and map variables
        String localVarPath = "/factories.json";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (withStorageProvider != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("with_storage_provider", withStorageProvider));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "api_key" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createFactoryValidateBeforeCall(FactoryBody createFactoryBody, Boolean withStorageProvider, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'createFactoryBody' is set
        if (createFactoryBody == null) {
            throw new ApiException("Missing the required parameter 'createFactoryBody' when calling createFactory(Async)");
        }
        

        com.squareup.okhttp.Call call = createFactoryCall(createFactoryBody, withStorageProvider, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Creates a new factory
     * 
     * @param createFactoryBody  (required)
     * @param withStorageProvider if set to &#x60;true&#x60;, results will include a storage provider&#39;s id (optional)
     * @return Factory
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public Factory createFactory(FactoryBody createFactoryBody, Boolean withStorageProvider) throws ApiException {
        ApiResponse<Factory> resp = createFactoryWithHttpInfo(createFactoryBody, withStorageProvider);
        return resp.getData();
    }

    /**
     * Creates a new factory
     * 
     * @param createFactoryBody  (required)
     * @param withStorageProvider if set to &#x60;true&#x60;, results will include a storage provider&#39;s id (optional)
     * @return ApiResponse&lt;Factory&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Factory> createFactoryWithHttpInfo(FactoryBody createFactoryBody, Boolean withStorageProvider) throws ApiException {
        com.squareup.okhttp.Call call = createFactoryValidateBeforeCall(createFactoryBody, withStorageProvider, null, null);
        Type localVarReturnType = new TypeToken<Factory>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Creates a new factory (asynchronously)
     * 
     * @param createFactoryBody  (required)
     * @param withStorageProvider if set to &#x60;true&#x60;, results will include a storage provider&#39;s id (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createFactoryAsync(FactoryBody createFactoryBody, Boolean withStorageProvider, final ApiCallback<Factory> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createFactoryValidateBeforeCall(createFactoryBody, withStorageProvider, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<Factory>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createProfile
     * @param factoryId Id of a Factory. (required)
     * @param createProfileBody  (required)
     * @param excludeAdvancedServices  (optional)
     * @param expand If expand option is set Profile objects will contain all command parameters, even if their value is default. By default it is not set. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createProfileCall(String factoryId, ProfileBody createProfileBody, Boolean excludeAdvancedServices, Boolean expand, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = createProfileBody;

        // create path and map variables
        String localVarPath = "/profiles.json";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (factoryId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("factory_id", factoryId));
        if (excludeAdvancedServices != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("exclude_advanced_services", excludeAdvancedServices));
        if (expand != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("expand", expand));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "api_key" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createProfileValidateBeforeCall(String factoryId, ProfileBody createProfileBody, Boolean excludeAdvancedServices, Boolean expand, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'factoryId' is set
        if (factoryId == null) {
            throw new ApiException("Missing the required parameter 'factoryId' when calling createProfile(Async)");
        }
        
        // verify the required parameter 'createProfileBody' is set
        if (createProfileBody == null) {
            throw new ApiException("Missing the required parameter 'createProfileBody' when calling createProfile(Async)");
        }
        

        com.squareup.okhttp.Call call = createProfileCall(factoryId, createProfileBody, excludeAdvancedServices, expand, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Creates a Profile
     * 
     * @param factoryId Id of a Factory. (required)
     * @param createProfileBody  (required)
     * @param excludeAdvancedServices  (optional)
     * @param expand If expand option is set Profile objects will contain all command parameters, even if their value is default. By default it is not set. (optional)
     * @return Profile
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public Profile createProfile(String factoryId, ProfileBody createProfileBody, Boolean excludeAdvancedServices, Boolean expand) throws ApiException {
        ApiResponse<Profile> resp = createProfileWithHttpInfo(factoryId, createProfileBody, excludeAdvancedServices, expand);
        return resp.getData();
    }

    /**
     * Creates a Profile
     * 
     * @param factoryId Id of a Factory. (required)
     * @param createProfileBody  (required)
     * @param excludeAdvancedServices  (optional)
     * @param expand If expand option is set Profile objects will contain all command parameters, even if their value is default. By default it is not set. (optional)
     * @return ApiResponse&lt;Profile&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Profile> createProfileWithHttpInfo(String factoryId, ProfileBody createProfileBody, Boolean excludeAdvancedServices, Boolean expand) throws ApiException {
        com.squareup.okhttp.Call call = createProfileValidateBeforeCall(factoryId, createProfileBody, excludeAdvancedServices, expand, null, null);
        Type localVarReturnType = new TypeToken<Profile>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Creates a Profile (asynchronously)
     * 
     * @param factoryId Id of a Factory. (required)
     * @param createProfileBody  (required)
     * @param excludeAdvancedServices  (optional)
     * @param expand If expand option is set Profile objects will contain all command parameters, even if their value is default. By default it is not set. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createProfileAsync(String factoryId, ProfileBody createProfileBody, Boolean excludeAdvancedServices, Boolean expand, final ApiCallback<Profile> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createProfileValidateBeforeCall(factoryId, createProfileBody, excludeAdvancedServices, expand, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<Profile>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createVideo
     * @param factoryId Id of a Factory. (required)
     * @param createVideoBody  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createVideoCall(String factoryId, CreateVideoBody createVideoBody, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = createVideoBody;

        // create path and map variables
        String localVarPath = "/videos.json";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (factoryId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("factory_id", factoryId));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "api_key" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createVideoValidateBeforeCall(String factoryId, CreateVideoBody createVideoBody, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'factoryId' is set
        if (factoryId == null) {
            throw new ApiException("Missing the required parameter 'factoryId' when calling createVideo(Async)");
        }
        
        // verify the required parameter 'createVideoBody' is set
        if (createVideoBody == null) {
            throw new ApiException("Missing the required parameter 'createVideoBody' when calling createVideo(Async)");
        }
        

        com.squareup.okhttp.Call call = createVideoCall(factoryId, createVideoBody, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Creates a Video from a provided source_url.
     * 
     * @param factoryId Id of a Factory. (required)
     * @param createVideoBody  (required)
     * @return Video
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public Video createVideo(String factoryId, CreateVideoBody createVideoBody) throws ApiException {
        ApiResponse<Video> resp = createVideoWithHttpInfo(factoryId, createVideoBody);
        return resp.getData();
    }

    /**
     * Creates a Video from a provided source_url.
     * 
     * @param factoryId Id of a Factory. (required)
     * @param createVideoBody  (required)
     * @return ApiResponse&lt;Video&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Video> createVideoWithHttpInfo(String factoryId, CreateVideoBody createVideoBody) throws ApiException {
        com.squareup.okhttp.Call call = createVideoValidateBeforeCall(factoryId, createVideoBody, null, null);
        Type localVarReturnType = new TypeToken<Video>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Creates a Video from a provided source_url. (asynchronously)
     * 
     * @param factoryId Id of a Factory. (required)
     * @param createVideoBody  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createVideoAsync(String factoryId, CreateVideoBody createVideoBody, final ApiCallback<Video> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createVideoValidateBeforeCall(factoryId, createVideoBody, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<Video>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createWorkorder
     * @param factoryId Id of a Factory. (required)
     * @param profileId Id of a Profile. (optional)
     * @param file Input file. (optional)
     * @param sourceUrl URL pointing to an input file. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createWorkorderCall(String factoryId, String profileId, File file, String sourceUrl, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/workorders.json";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (factoryId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("factory_id", factoryId));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        if (profileId != null)
        localVarFormParams.put("profile_id", profileId);
        if (file != null)
        localVarFormParams.put("file", file);
        if (sourceUrl != null)
        localVarFormParams.put("source_url", sourceUrl);

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "multipart/form-data"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "api_key" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createWorkorderValidateBeforeCall(String factoryId, String profileId, File file, String sourceUrl, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'factoryId' is set
        if (factoryId == null) {
            throw new ApiException("Missing the required parameter 'factoryId' when calling createWorkorder(Async)");
        }
        

        com.squareup.okhttp.Call call = createWorkorderCall(factoryId, profileId, file, sourceUrl, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Creates a Workorder.
     * 
     * @param factoryId Id of a Factory. (required)
     * @param profileId Id of a Profile. (optional)
     * @param file Input file. (optional)
     * @param sourceUrl URL pointing to an input file. (optional)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void createWorkorder(String factoryId, String profileId, File file, String sourceUrl) throws ApiException {
        createWorkorderWithHttpInfo(factoryId, profileId, file, sourceUrl);
    }

    /**
     * Creates a Workorder.
     * 
     * @param factoryId Id of a Factory. (required)
     * @param profileId Id of a Profile. (optional)
     * @param file Input file. (optional)
     * @param sourceUrl URL pointing to an input file. (optional)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> createWorkorderWithHttpInfo(String factoryId, String profileId, File file, String sourceUrl) throws ApiException {
        com.squareup.okhttp.Call call = createWorkorderValidateBeforeCall(factoryId, profileId, file, sourceUrl, null, null);
        return apiClient.execute(call);
    }

    /**
     * Creates a Workorder. (asynchronously)
     * 
     * @param factoryId Id of a Factory. (required)
     * @param profileId Id of a Profile. (optional)
     * @param file Input file. (optional)
     * @param sourceUrl URL pointing to an input file. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createWorkorderAsync(String factoryId, String profileId, File file, String sourceUrl, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createWorkorderValidateBeforeCall(factoryId, profileId, file, sourceUrl, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for deleteEncoding
     * @param id Id of an Encoding. (required)
     * @param factoryId Id of a Factory. (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call deleteEncodingCall(String id, String factoryId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/encodings/{id}.json"
            .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(id.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (factoryId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("factory_id", factoryId));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "api_key" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call deleteEncodingValidateBeforeCall(String id, String factoryId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'id' is set
        if (id == null) {
            throw new ApiException("Missing the required parameter 'id' when calling deleteEncoding(Async)");
        }
        
        // verify the required parameter 'factoryId' is set
        if (factoryId == null) {
            throw new ApiException("Missing the required parameter 'factoryId' when calling deleteEncoding(Async)");
        }
        

        com.squareup.okhttp.Call call = deleteEncodingCall(id, factoryId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Deletes an Encoding from both Telestream Cloud and your storage. Returns an information whether the operation was successful.
     * 
     * @param id Id of an Encoding. (required)
     * @param factoryId Id of a Factory. (required)
     * @return DeletedResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public DeletedResponse deleteEncoding(String id, String factoryId) throws ApiException {
        ApiResponse<DeletedResponse> resp = deleteEncodingWithHttpInfo(id, factoryId);
        return resp.getData();
    }

    /**
     * Deletes an Encoding from both Telestream Cloud and your storage. Returns an information whether the operation was successful.
     * 
     * @param id Id of an Encoding. (required)
     * @param factoryId Id of a Factory. (required)
     * @return ApiResponse&lt;DeletedResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<DeletedResponse> deleteEncodingWithHttpInfo(String id, String factoryId) throws ApiException {
        com.squareup.okhttp.Call call = deleteEncodingValidateBeforeCall(id, factoryId, null, null);
        Type localVarReturnType = new TypeToken<DeletedResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Deletes an Encoding from both Telestream Cloud and your storage. Returns an information whether the operation was successful. (asynchronously)
     * 
     * @param id Id of an Encoding. (required)
     * @param factoryId Id of a Factory. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call deleteEncodingAsync(String id, String factoryId, final ApiCallback<DeletedResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deleteEncodingValidateBeforeCall(id, factoryId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<DeletedResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for deleteProfile
     * @param id Id of a Profile (required)
     * @param factoryId Id of a Factory. (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call deleteProfileCall(String id, String factoryId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/profiles/{id}.json"
            .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(id.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (factoryId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("factory_id", factoryId));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "api_key" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call deleteProfileValidateBeforeCall(String id, String factoryId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'id' is set
        if (id == null) {
            throw new ApiException("Missing the required parameter 'id' when calling deleteProfile(Async)");
        }
        
        // verify the required parameter 'factoryId' is set
        if (factoryId == null) {
            throw new ApiException("Missing the required parameter 'factoryId' when calling deleteProfile(Async)");
        }
        

        com.squareup.okhttp.Call call = deleteProfileCall(id, factoryId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Deletes a given Profile
     * 
     * @param id Id of a Profile (required)
     * @param factoryId Id of a Factory. (required)
     * @return DeletedResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public DeletedResponse deleteProfile(String id, String factoryId) throws ApiException {
        ApiResponse<DeletedResponse> resp = deleteProfileWithHttpInfo(id, factoryId);
        return resp.getData();
    }

    /**
     * Deletes a given Profile
     * 
     * @param id Id of a Profile (required)
     * @param factoryId Id of a Factory. (required)
     * @return ApiResponse&lt;DeletedResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<DeletedResponse> deleteProfileWithHttpInfo(String id, String factoryId) throws ApiException {
        com.squareup.okhttp.Call call = deleteProfileValidateBeforeCall(id, factoryId, null, null);
        Type localVarReturnType = new TypeToken<DeletedResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Deletes a given Profile (asynchronously)
     * 
     * @param id Id of a Profile (required)
     * @param factoryId Id of a Factory. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call deleteProfileAsync(String id, String factoryId, final ApiCallback<DeletedResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deleteProfileValidateBeforeCall(id, factoryId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<DeletedResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for deleteVideo
     * @param id Id of a Video. (required)
     * @param factoryId Id of a Factory. (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call deleteVideoCall(String id, String factoryId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/videos/{id}.json"
            .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(id.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (factoryId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("factory_id", factoryId));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "api_key" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call deleteVideoValidateBeforeCall(String id, String factoryId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'id' is set
        if (id == null) {
            throw new ApiException("Missing the required parameter 'id' when calling deleteVideo(Async)");
        }
        
        // verify the required parameter 'factoryId' is set
        if (factoryId == null) {
            throw new ApiException("Missing the required parameter 'factoryId' when calling deleteVideo(Async)");
        }
        

        com.squareup.okhttp.Call call = deleteVideoCall(id, factoryId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Deletes a Video object.
     * 
     * @param id Id of a Video. (required)
     * @param factoryId Id of a Factory. (required)
     * @return DeletedResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public DeletedResponse deleteVideo(String id, String factoryId) throws ApiException {
        ApiResponse<DeletedResponse> resp = deleteVideoWithHttpInfo(id, factoryId);
        return resp.getData();
    }

    /**
     * Deletes a Video object.
     * 
     * @param id Id of a Video. (required)
     * @param factoryId Id of a Factory. (required)
     * @return ApiResponse&lt;DeletedResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<DeletedResponse> deleteVideoWithHttpInfo(String id, String factoryId) throws ApiException {
        com.squareup.okhttp.Call call = deleteVideoValidateBeforeCall(id, factoryId, null, null);
        Type localVarReturnType = new TypeToken<DeletedResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Deletes a Video object. (asynchronously)
     * 
     * @param id Id of a Video. (required)
     * @param factoryId Id of a Factory. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call deleteVideoAsync(String id, String factoryId, final ApiCallback<DeletedResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deleteVideoValidateBeforeCall(id, factoryId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<DeletedResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for deleteVideoSource
     * @param id Id of a Video. (required)
     * @param factoryId Id of a Factory. (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call deleteVideoSourceCall(String id, String factoryId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/videos/{id}/source.json"
            .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(id.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (factoryId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("factory_id", factoryId));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "api_key" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call deleteVideoSourceValidateBeforeCall(String id, String factoryId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'id' is set
        if (id == null) {
            throw new ApiException("Missing the required parameter 'id' when calling deleteVideoSource(Async)");
        }
        
        // verify the required parameter 'factoryId' is set
        if (factoryId == null) {
            throw new ApiException("Missing the required parameter 'factoryId' when calling deleteVideoSource(Async)");
        }
        

        com.squareup.okhttp.Call call = deleteVideoSourceCall(id, factoryId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Delete a video&#39;s source file.
     * 
     * @param id Id of a Video. (required)
     * @param factoryId Id of a Factory. (required)
     * @return DeletedResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public DeletedResponse deleteVideoSource(String id, String factoryId) throws ApiException {
        ApiResponse<DeletedResponse> resp = deleteVideoSourceWithHttpInfo(id, factoryId);
        return resp.getData();
    }

    /**
     * Delete a video&#39;s source file.
     * 
     * @param id Id of a Video. (required)
     * @param factoryId Id of a Factory. (required)
     * @return ApiResponse&lt;DeletedResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<DeletedResponse> deleteVideoSourceWithHttpInfo(String id, String factoryId) throws ApiException {
        com.squareup.okhttp.Call call = deleteVideoSourceValidateBeforeCall(id, factoryId, null, null);
        Type localVarReturnType = new TypeToken<DeletedResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Delete a video&#39;s source file. (asynchronously)
     * 
     * @param id Id of a Video. (required)
     * @param factoryId Id of a Factory. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call deleteVideoSourceAsync(String id, String factoryId, final ApiCallback<DeletedResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deleteVideoSourceValidateBeforeCall(id, factoryId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<DeletedResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for encoding
     * @param id Id of an Encoding. (required)
     * @param factoryId Id of a Factory. (required)
     * @param screenshots Determines whether the response will include screenshots. By default this is not set. (optional)
     * @param preciseStatus Determines whether the response will include a precise status. By default this is not set. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call encodingCall(String id, String factoryId, Boolean screenshots, Boolean preciseStatus, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/encodings/{id}.json"
            .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(id.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (factoryId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("factory_id", factoryId));
        if (screenshots != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("screenshots", screenshots));
        if (preciseStatus != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("precise_status", preciseStatus));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "api_key" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call encodingValidateBeforeCall(String id, String factoryId, Boolean screenshots, Boolean preciseStatus, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'id' is set
        if (id == null) {
            throw new ApiException("Missing the required parameter 'id' when calling encoding(Async)");
        }
        
        // verify the required parameter 'factoryId' is set
        if (factoryId == null) {
            throw new ApiException("Missing the required parameter 'factoryId' when calling encoding(Async)");
        }
        

        com.squareup.okhttp.Call call = encodingCall(id, factoryId, screenshots, preciseStatus, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Returns an Encoding object.
     * 
     * @param id Id of an Encoding. (required)
     * @param factoryId Id of a Factory. (required)
     * @param screenshots Determines whether the response will include screenshots. By default this is not set. (optional)
     * @param preciseStatus Determines whether the response will include a precise status. By default this is not set. (optional)
     * @return Encoding
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public Encoding encoding(String id, String factoryId, Boolean screenshots, Boolean preciseStatus) throws ApiException {
        ApiResponse<Encoding> resp = encodingWithHttpInfo(id, factoryId, screenshots, preciseStatus);
        return resp.getData();
    }

    /**
     * Returns an Encoding object.
     * 
     * @param id Id of an Encoding. (required)
     * @param factoryId Id of a Factory. (required)
     * @param screenshots Determines whether the response will include screenshots. By default this is not set. (optional)
     * @param preciseStatus Determines whether the response will include a precise status. By default this is not set. (optional)
     * @return ApiResponse&lt;Encoding&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Encoding> encodingWithHttpInfo(String id, String factoryId, Boolean screenshots, Boolean preciseStatus) throws ApiException {
        com.squareup.okhttp.Call call = encodingValidateBeforeCall(id, factoryId, screenshots, preciseStatus, null, null);
        Type localVarReturnType = new TypeToken<Encoding>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Returns an Encoding object. (asynchronously)
     * 
     * @param id Id of an Encoding. (required)
     * @param factoryId Id of a Factory. (required)
     * @param screenshots Determines whether the response will include screenshots. By default this is not set. (optional)
     * @param preciseStatus Determines whether the response will include a precise status. By default this is not set. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call encodingAsync(String id, String factoryId, Boolean screenshots, Boolean preciseStatus, final ApiCallback<Encoding> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = encodingValidateBeforeCall(id, factoryId, screenshots, preciseStatus, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<Encoding>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for encodings
     * @param factoryId Id of a Factory. (required)
     * @param videoId Id of a Video. When specified, the resulting list will contain videos that belong to the Video. (optional)
     * @param status One of &#x60;success&#x60;, &#x60;fail&#x60;, &#x60;processing&#x60;. When specified, the resulting list will contain ecodings filtered by status. (optional)
     * @param profileId Filter by profile_id. (optional)
     * @param profileName Filter by profile_name. (optional)
     * @param page A page to be fetched. Default is &#x60;1&#x60;. (optional)
     * @param perPage A number of results per page. Default is &#x60;100&#x60;. (optional)
     * @param screenshots Determines whether the response will include screenshots. By default this is not set. (optional)
     * @param preciseStatus Determines whether the response will include a precise status. By default this is not set. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call encodingsCall(String factoryId, String videoId, String status, String profileId, String profileName, Integer page, Integer perPage, Boolean screenshots, Boolean preciseStatus, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/encodings.json";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (factoryId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("factory_id", factoryId));
        if (videoId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("video_id", videoId));
        if (status != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("status", status));
        if (profileId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("profile_id", profileId));
        if (profileName != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("profile_name", profileName));
        if (page != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("page", page));
        if (perPage != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("per_page", perPage));
        if (screenshots != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("screenshots", screenshots));
        if (preciseStatus != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("precise_status", preciseStatus));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "api_key" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call encodingsValidateBeforeCall(String factoryId, String videoId, String status, String profileId, String profileName, Integer page, Integer perPage, Boolean screenshots, Boolean preciseStatus, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'factoryId' is set
        if (factoryId == null) {
            throw new ApiException("Missing the required parameter 'factoryId' when calling encodings(Async)");
        }
        

        com.squareup.okhttp.Call call = encodingsCall(factoryId, videoId, status, profileId, profileName, page, perPage, screenshots, preciseStatus, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Returns a list of Encoding objects
     * 
     * @param factoryId Id of a Factory. (required)
     * @param videoId Id of a Video. When specified, the resulting list will contain videos that belong to the Video. (optional)
     * @param status One of &#x60;success&#x60;, &#x60;fail&#x60;, &#x60;processing&#x60;. When specified, the resulting list will contain ecodings filtered by status. (optional)
     * @param profileId Filter by profile_id. (optional)
     * @param profileName Filter by profile_name. (optional)
     * @param page A page to be fetched. Default is &#x60;1&#x60;. (optional)
     * @param perPage A number of results per page. Default is &#x60;100&#x60;. (optional)
     * @param screenshots Determines whether the response will include screenshots. By default this is not set. (optional)
     * @param preciseStatus Determines whether the response will include a precise status. By default this is not set. (optional)
     * @return PaginatedEncodingsCollection
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public PaginatedEncodingsCollection encodings(String factoryId, String videoId, String status, String profileId, String profileName, Integer page, Integer perPage, Boolean screenshots, Boolean preciseStatus) throws ApiException {
        ApiResponse<PaginatedEncodingsCollection> resp = encodingsWithHttpInfo(factoryId, videoId, status, profileId, profileName, page, perPage, screenshots, preciseStatus);
        return resp.getData();
    }

    /**
     * Returns a list of Encoding objects
     * 
     * @param factoryId Id of a Factory. (required)
     * @param videoId Id of a Video. When specified, the resulting list will contain videos that belong to the Video. (optional)
     * @param status One of &#x60;success&#x60;, &#x60;fail&#x60;, &#x60;processing&#x60;. When specified, the resulting list will contain ecodings filtered by status. (optional)
     * @param profileId Filter by profile_id. (optional)
     * @param profileName Filter by profile_name. (optional)
     * @param page A page to be fetched. Default is &#x60;1&#x60;. (optional)
     * @param perPage A number of results per page. Default is &#x60;100&#x60;. (optional)
     * @param screenshots Determines whether the response will include screenshots. By default this is not set. (optional)
     * @param preciseStatus Determines whether the response will include a precise status. By default this is not set. (optional)
     * @return ApiResponse&lt;PaginatedEncodingsCollection&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<PaginatedEncodingsCollection> encodingsWithHttpInfo(String factoryId, String videoId, String status, String profileId, String profileName, Integer page, Integer perPage, Boolean screenshots, Boolean preciseStatus) throws ApiException {
        com.squareup.okhttp.Call call = encodingsValidateBeforeCall(factoryId, videoId, status, profileId, profileName, page, perPage, screenshots, preciseStatus, null, null);
        Type localVarReturnType = new TypeToken<PaginatedEncodingsCollection>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Returns a list of Encoding objects (asynchronously)
     * 
     * @param factoryId Id of a Factory. (required)
     * @param videoId Id of a Video. When specified, the resulting list will contain videos that belong to the Video. (optional)
     * @param status One of &#x60;success&#x60;, &#x60;fail&#x60;, &#x60;processing&#x60;. When specified, the resulting list will contain ecodings filtered by status. (optional)
     * @param profileId Filter by profile_id. (optional)
     * @param profileName Filter by profile_name. (optional)
     * @param page A page to be fetched. Default is &#x60;1&#x60;. (optional)
     * @param perPage A number of results per page. Default is &#x60;100&#x60;. (optional)
     * @param screenshots Determines whether the response will include screenshots. By default this is not set. (optional)
     * @param preciseStatus Determines whether the response will include a precise status. By default this is not set. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call encodingsAsync(String factoryId, String videoId, String status, String profileId, String profileName, Integer page, Integer perPage, Boolean screenshots, Boolean preciseStatus, final ApiCallback<PaginatedEncodingsCollection> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = encodingsValidateBeforeCall(factoryId, videoId, status, profileId, profileName, page, perPage, screenshots, preciseStatus, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<PaginatedEncodingsCollection>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for encodingsCount
     * @param factoryId Id of a Factory. (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call encodingsCountCall(String factoryId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/encodings/count.json";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (factoryId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("factory_id", factoryId));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

[...]
